#scriptsView {
  -moz-binding: url("chrome://greasemonkey/content/manage.xml#scripts");
}

richlistitem {
  -moz-binding: url("chrome://greasemonkey/content/manage.xml#script");
}

richlistitem[selected="true"] {
  -moz-binding: url("chrome://greasemonkey/content/manage.xml#script-selected");
}

richlistitem[isDisabled="true"] .disableButton,
richlistitem[isDisabled="false"] .enableButton,
#commandBarBottom[gm-enabled="true"] #globalEnableButton,
#commandBarBottom[gm-enabled="false"] #globalDisableButton {
  display: none;
}
